input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="text"]:focus {
  border-color:darkkhaki;
  box-shadow: 0 0 8px 0 darkkhaki;
}

textarea {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
textarea:focus {
  border-color:darkkhaki;
  box-shadow: 0 0 8px 0 darkkhaki;
}

#mes_table{
  width: 600px;
  border-collapse:collapse;
  margin:0 auto;
}
#mes_table td,th{
  border:1px solid #ccc;
  padding:10px;
}
#mes_table th{
  border-left:5px solid #005ab3;
  color:#005ab3;
}

#send {
  border-radius: 5px;
  border-color:lightblue;
  background-color:rgb(102, 194, 224);
  padding: 4px 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  outline:none;
  text-align: center;
}
#send:hover {
  box-shadow: 0 0 8px 0 lightblue;
}

span.h{
  color:steelblue;
  font-weight: bold;
}

.op_big{
  font-size: 24px;
}
.op_bold{
  font-weight: bold;
}
.op_ita{
  font-family: "ＭＳ ゴシック";
  font-style: oblique;
}