{% extends "_base.html" %}


{% block pageTitle %}
<title>{{ object.title }} - Django掲示板</title>
{% endblock %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>'; background-color: #B7BCBF;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category' object.category.id %}">{{ object.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
    </ol>
</nav>
{% endblock %}

{% block main %}
{% autoescape on %}
<h2>{{ object.title }}</h2>
<hr>
<div id='board'>
    {% for p in object.post_set.all %}
    <p>
        {{ forloop.counter }}：{{ p.name }} ID:{{ p.ipID }}
    </p>
    <p>
        {{ p.body }}
    </p>
    <p>
        {{ p.tag_set.all }}
    </p>
    <p style="text-align: right">
        {{ p.created | date:"Y/m/d H:i:s" }}
    </p>
    <hr>
    {% empty %}
    <p>書き込みがありません。</p>
    {% endfor %}
</div>

<input class="btn" style="background:transparent; color:#4B4A59; border: 1px solid #AA8279;" type="reset" value="更新">

<br><br><br>
<h3>スレッドに返信する</h3>
{% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endfor %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        <label>{{ field.label }}</label>
        {{ field }}
    </p>
    {% endfor %}
    <input class="btn text-light" style="background: #AA8279" type="submit" value="投稿">
</form>
{% endautoescape %}
{% endblock %}