{% extends "_base.html" %}
{% load humanize %}
{% load static %}


{% block pageTitle %}
<link rel="stylesheet" type="text/css" href="{% static 'scss/indexTable.css' %}">
<title>Django掲示板トップ</title>
{% endblock %}

{% block main %}
<p>
    当掲示板へようこそ！<br>
    特定の個人や団体を誹謗・中傷するような内容の書き込みは避け、マナーを守って使いましょう。
</p>
<hr>
<p>
    {% now "Y年m月d日 H時i分" %}現在、{{ sum_thread | intcomma }}個のスレッドがあります。
</p>
<h3>スレッド一覧</h3>
    {% if object_list  %}
        <table id='index_table'>
            <tr><th>タイトル</th><th>作成者</th><th>返信数</th><th>閲覧回数</th><th>最終更新</th></tr>
        {% for t in object_list %}
            <tr><td><span class="badge rounded-pill text-theme1 border border-theme1 badge-outlined">雑談</span><a href="#"> {{ t.title }}</a></td><td>{{ t.creator }}</td><td>0</td><td>{{ t.view }}</td><td>{% now "Y年m月d日 H時i分" %}</td></tr>
        {% endfor %}
        </table>
    {% else %}
        <p>まだスレッドはありません。新しいスレッドを作りませんか？</p>
    {% endif %}
</table>

<br>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <span class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</span>
        </li>
        <li class="page-item active" aria-current="page">
            <span class="page-link" style="background-color: #AA8279; border-color: #AA8279;" href="#">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">次へ</a>
        </li>
    </ul>
</nav>
{% endblock %}