#index_table{
    border-collapse:collapse;
    //margin:0 auto;
}
#index_table td,th{
    padding:10px;
}
#index_table th{
    color:#fff;
    background:#AA8279;
}
#index_table tr:nth-child(odd){
    background:#f2ede8;
}