{% extends "_base.html" %}


{% block pageTitle %}
<title>Django掲示板 トップ</title>
{% endblock %}

{% block main %}
<p>
    当掲示板へようこそ。<br>
    特定の個人や団体を誹謗・中傷するような内容の書き込みは避け、マナーを守って使いましょう。
</p>
<p>
    「おはよう」「こんにちは」「こんばんは」のいずれかが含まれる投稿には、BOTちゃんが返事を返します。
</p>
<hr>

<div id='board'>
    <p id='default'>
        まだ書き込みはありません。
    </p>
</div>
<input id="update" type="button" value="更新" style="position: relative; left: 100px;"/>

<hr>
<form id='mes_form'>
    <table id='mes_table'>
        <tr>
            <th>名前</th>
            <td>
                <input id="namae" type="text" form="mes_form" value="名無しさん">
            </td>
        </tr>
        <tr>
            <th>メッセージ</th>
            <td>
                        <textarea id="message" rows="4" cols="40" form="mes_form"
                                  placeholder="投稿したいメッセージを入力してください。"></textarea>
            </td>
        </tr>
        <tr>
            <th>オプション</th>
            <td>
                <label><input name = "option" type="checkbox" value="big"  form="mes_form"/>文字を大きくする</label>
                <label><input name = "option" type="checkbox" value="bold"  form="mes_form"/>太字</label>
                <label><input name = "option" type="checkbox" value="ita"  form="mes_form"/>斜体</label>
            </td>
        </tr>
        <tr>
            <th></th>
            <td align="right">
                <label id="error" for="send" style="color: red;"></label>
                <input id="send" type="button" value="投稿"  form="mes_form"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}