{% extends "_base.html" %}
{% load humanize %}


{% block pageTitle %}
<title>Django掲示板 トップ</title>
{% endblock %}

{% block main %}
<p>
    当掲示板へようこそ！<br>
    特定の個人や団体を誹謗・中傷するような内容の書き込みは避け、マナーを守って使いましょう。
</p>
<hr>
<p>
    {% now "Y年m月d日 H時i分" %}現在、{{ sum_thread | intcomma }}個のスレッドがあります。
</p>
<h2>スレッド一覧</h2>
<span>
    カテゴリ
    <div class="navbar">
        {% for name in category %}
        <a href="URL/{{ name }}}">{{ name }}(0)</a>　
        {% empty %}
        カテゴリはありません。
        {% endfor %}
    </div>
</span>
ここに検索フォーム
<table id='index_table'>
    <tr><th>カテゴリ</th><th>タイトル</th><th>作成者</th><th>投稿数</th><th>閲覧回数</th><th>最終更新日</th></tr>
    <tr><td>A-1</td><td>B-1</td><td>C-1</td><td>D-1</td><td>E-1</td></tr>
    <tr><td>A-2</td><td>B-2</td><td>C-2</td><td>D-2</td></tr>
    <tr><td>A-3</td><td>B-3</td><td>C-3</td><td>D-3</td></tr>
    <tr><td>A-4</td><td>B-4</td><td>C-4</td><td>D-4</td></tr>
</table>
{% endblock %}