{% extends "keijiban/base.html" %}
{% load humanize %}
{% load static %}


{% block pageTitle %}
<link rel="stylesheet" type="text/css" href="{% static 'indexTable.css' %}">
<title>Django掲示板 トップ</title>
{% endblock %}

{% block main %}
<p>
    当掲示板へようこそ！<br>
    特定の個人や団体を誹謗・中傷するような内容の書き込みは避け、マナーを守って使いましょう。
</p>
<hr>
<p>
    {% now "Y年m月d日 H時i分" %}現在、{{ sum_thread | intcomma }}個のスレッドがあります。
</p>
<h3>スレッド一覧</h3>
<table id='index_table'>
    <tr><th>タイトル</th><th>作成者</th><th>投稿数</th><th>閲覧回数</th><th>最終更新日</th></tr>
    <tr><td><span class="badge rounded-pill text-t1 border border-t1 badge-outlined">雑談</span> A-1</td><td>B-1</td><td>C-1</td><td>D-1</td><td>E-1</td></tr>
    <tr><td><span class="badge rounded-pill text-secondary border border-secondary badge-outlined">質問</span> A-2</td><td>B-2</td><td>C-2</td><td>D-2</td></tr>
    <tr><td>A-3</td><td>B-3</td><td>C-3</td><td>D-3</td></tr>
    <tr><td>A-4</td><td>B-4</td><td>C-4</td><td>D-4</td></tr>
</table>

<br>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <span class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</span>
        </li>
        <li class="page-item active" aria-current="page">
            <span class="page-link" style="background-color: #AA8279; border-color: #AA8279;" href="#">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">次へ</a>
        </li>
    </ul>
</nav>
{% endblock %}